[submodule "libraries/him_motor"]
	path = libraries/him_motor
	url = git@github.com:lloyd-garmadon/him_motor.git
	branch = main
[submodule "libraries/him_log"]
	path = libraries/him_log
	url = git@github.com:lloyd-garmadon/him_log.git
	branch = main
[submodule "libraries/him_speed"]
	path = libraries/him_speed
	url = git@github.com:lloyd-garmadon/him_speed.git
	branch = main
[submodule "libraries/him_distance"]
	path = libraries/him_distance
	url = git@github.com:lloyd-garmadon/him_distance.git
	branch = main
[submodule "libraries/him_servo"]
	path = libraries/him_servo
	url = git@github.com:lloyd-garmadon/him_servo.git
	branch = main
[submodule "libraries/servo"]
	path = libraries/servo
	url = https://github.com/arduino-libraries/Servo.git
	branch = master
[submodule "libraries/him_cmd"]
	path = libraries/him_cmd
	url = git@github.com:lloyd-garmadon/him_cmd.git
