<!DOCTYPE html>
<html>
    <head>
        <title>Brutus Control</title>
    </head>

    <style>
        .frame_top {
            color: #ccc;
            border: 1px solid #111;
            box-shadow: 8px 8px 5px #a00;
            padding: 8px 12px;
            background-image: linear-gradient(180deg, #a00, #222 40%, #111);
        }
        .frame_bot {
            color: #ccc;
            border: 1px solid #111;
            box-shadow: 8px 8px 5px #a00;
            padding: 8px 12px;
            background-image: linear-gradient(180deg,#111, #222 60%, #a00 );
        }
    </style>

    <script>
        document.addEventListener(
            "keypress",
            function(event) {
                const form = document.createElement('form');
                form.method = "post";
                form.action = "{{url_for('entrypoint_control')}}";
                form.target = "output_frame";

                const hiddenField = document.createElement('input');
                hiddenField.type = 'hidden';

                if (event.key == "q" || event.key == "Q") {
                    hiddenField.name = "stop"
                    hiddenField.value = "stop"
                } else if (event.key == "e" || event.key == "E") {
                    hiddenField.name = "center"
                    hiddenField.value = "center"
                } else if (event.key == "a" || event.key == "A") {
                    hiddenField.name = "left"
                    hiddenField.value = "left"
                } else if (event.key == "d" || event.key == "D") {
                    hiddenField.name = "right"
                    hiddenField.value = "right"
                } else if (event.key == "w" || event.key == "W") {
                    hiddenField.name = "forward"
                    hiddenField.value = "forward"
                } else if (event.key == "s" || event.key == "S") {
                    hiddenField.name = "backward"
                    hiddenField.value = "backward"
                }

                form.appendChild(hiddenField);
                document.body.appendChild(form);
                form.submit();
            }
        );
    </script>

    <body>
        <table width="1240" height="480" >
            <tr style="vertical-align:top">
                <td class="frame_top" width="300"  height="480">
                    <table>
                        <tr>
                        <td>
                            <H2 align="left">Robot Camera</H2>
                            <p align="left" >
                            <form  action="{{url_for('entrypoint')}}"  method="post" >
                                <input type="hidden" id="camera" name="camera" value="none">

                                {% if camera_active == False %}
                                    <input type="image" src="{{url_for('static', filename='button_io_red.png')}}" onclick="document.getElementById('camera').value = 'start';" width="48" height="48"> 
                                {% else %}
                                    <input type="image" src="{{url_for('static', filename='button_io_green.png')}}" onclick="document.getElementById('camera').value = 'stop';" width="48" height="48"> 
                                {% endif %}
                                <br>
                                <br>

                                <h3>Configuration</h3>
                                <br>

                                Frame Rate
                                <br>
                                <input type="number" id="fps" name="fps" min="1" max="30" value="{{camera_fps}}" >
                                <br>
                                <br>

                                Update Config
                                <br>
                                {% if camera_active == False %}
                                    <img src="{{url_for('static', filename='button_reload_gray.png')}}" width="32" height="32" > 
                                {% else %}
                                    <input type="image" src="{{url_for('static', filename='button_reload_green.png')}}" onclick="document.getElementById('camera').value = 'update';" width="32" height="32"> 
                                {% endif %}
                                <br>
                            </form> 
                            </p>
                        </td>
                        </tr>
                    </table>
                <td class="frame_top">
                    <img src="{{url_for('entrypoint_video')}}" alt="Brutus Camera" width="640" height="480"> 
                </td>
                <td class="frame_top" width="300"  height="480">
                    <table>
                        <tr>
                        <td>
                            <H2 align="left">Robot Radar</H2>
                            <p  align="left" >
                            <form  action="{{url_for('entrypoint')}}"  method="post" >
                                <input type="hidden" id="radar" name="radar" value="none">

                                {% if radar_active == False %}
                                    <input type="image" src="{{url_for('static', filename='button_io_red.png')}}" onclick="document.getElementById('radar').value = 'start';" width="48" height="48"> 
                                {% else %}
                                    <input type="image" src="{{url_for('static', filename='button_io_green.png')}}"  onclick="document.getElementById('radar').value = 'stop';" width="48" height="48"> 
                                {% endif %}
                                <br>
                                <br>

                                <h3>Configuration</h3>
                                <br>

                                <input type="radio" id="radar_mode" name="radar_mode" value="scan" {% if radar_mode == "scan" %} checked {% endif %} >
                                Scan Range
                                <br>
                                <input type="number" id="range_from" name="range_from" min="-60" max="60" value="{{range_from}}" >
                                <input type="number" id="range_to"   name="range_to"   min="-60" max="60" value="{{range_to}}" >
                                <br>
                                <br>

                                <input type="radio" id="radar_mode" name="radar_mode" value="static" {% if radar_mode == "static" %} checked {% endif %} >
                                Static Position
                                <br>
                                <input type="number" id="static_pos" name="static_pos" min="-60" max="60" value="{{static_pos}}">
                                <br>
                                <br>

                                Update Config
                                <br>
                                {% if radar_active == False %}
                                    <img src="{{url_for('static', filename='button_reload_gray.png')}}" width="32" height="32"> 
                                {% else %}
                                    <input type="image" src="{{url_for('static', filename='button_reload_green.png')}}"  onclick="document.getElementById('radar').value = 'update';" width="32" height="32"> 
                                {% endif %}
                            </form> 
                            </p>
                        </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td class="frame_bot" width="300"  height="200" align="center">
                    <table >
                    <tr>
                        <td width="50" height="50" >
                            <form  action="{{url_for('entrypoint_control')}}"  target="output_frame" method="post" >
                                <input type="hidden" id="center" name="center" value="center">
                                <input type="image" src="{{url_for('static', filename='button_center.png')}}" alt="Submit center" width="48" height="48"> 
                            </form>
                        </td>
                        <td width="50" height="50" >
                        </td>
                        <td width="50" height="50" >
                        </td>
                        <td width="50" height="50" >
                        </td>
                    </tr>
                    <tr>
                        <td width="50" height="50" >
                        </td>
                        <td width="50" height="50" >
                        </td>
                        <td width="50" height="50" >
                        </td>
                        <td width="50" height="50" >
                        </td>
                    </tr>
                    <tr>
                        <td width="50" height="50" >
                        </td>
                        <td width="50" height="50" >
                            <form  action="{{url_for('entrypoint_control')}}"  target="output_frame" method="post" >
                                <input type="hidden" id="left" name="left" value="left">
                                <input type="image" src="{{url_for('static', filename='button_left.png')}}" alt="Submit left" width="48" height="48"> 
                            </form>
                        </td>
                        <td width="50" height="50" >
                            <form  action="{{url_for('entrypoint_control')}}"  target="output_frame" method="post" >
                                <input type="hidden" id="right" name="right" value="right">
                                <input type="image" src="{{url_for('static', filename='button_right.png')}}" alt="Submit right" width="48" height="48"> 
                            </form>
                        </td>
                        <td width="50" height="50" >
                        </td>
                    </tr>
                    <tr>
                        <td width="50" height="50" >
                        </td>
                        <td width="50" height="50" >
                        </td>
                        <td width="50" height="50" >
                        </td>
                        <td width="50" height="50" >
                        </td>
                    </tr>
                    </table>

                </td>
                <td class="frame_bot" width="650"  height="200">
                    <table >
                        <tr>
                            <td>
                                <div style="font-size : 0px">
                                    <img src="{{url_for('entrypoint_sysinfo')}}" alt="Brutus Sysinfo" width="160" height="200" > 
                                    <img src="{{url_for('entrypoint_radar')}}"   alt="Brutus Radar"   width="320" height="200" > 
                                    <img src="{{url_for('entrypoint_drive')}}"   alt="Brutus Drive"   width="160" height="200" > 
                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
                <td class="frame_bot" width="300"  height="200">
                    <table >
                    <tr>
                        <td width="50" height="50" >
                        </td>
                        <td width="50" height="50" >
                        </td>
                        <td width="50" height="50" >
                        </td>
                        <td width="50" height="50" >
                            <form  action="{{url_for('entrypoint_control')}}"  target="output_frame" method="post" >
                                <input type="hidden" id="stop" name="stop" value="stop">
                                <input type="image" src="{{url_for('static', filename='button_stop.png')}}" alt="Submit stop" width="48" height="48"> 
                            </form>
                        </td>
                    </tr>
                    <tr>
                        <td width="50" height="50" >
                        </td>
                        <td width="50" height="50" >
                        </td>
                        <td width="50" height="50" >
                            <form  action="{{url_for('entrypoint_control')}}"  target="output_frame" method="post" >
                                <input type="hidden" id="forward" name="forward" value="forward">
                                <input type="image" src="{{url_for('static', filename='button_up.png')}}" alt="Submit forward" width="48" height="48"> 
                            </form>
                        </td>
                        <td width="50" height="50" >
                        </td>
                    </tr>
                    <tr>
                        <td width="50" height="50" >
                        </td>
                        <td width="50" height="50" >
                        </td>
                        <td width="50" height="50" >
                            <form  action="{{url_for('entrypoint_control')}}"  target="output_frame" method="post" >
                                <input type="hidden" id="backward" name="backward" value="backward">
                                <input type="image" src="{{url_for('static', filename='button_down.png')}}" alt="Submit backward" width="48" height="48"> 
                            </form>
                        </td>
                        <td width="50" height="50" >
                        </td>
                    </tr>
                    <tr>
                        <td width="50" height="50" >
                        </td>
                        <td width="50" height="50" >
                        </td>
                        <td width="50" height="50" >
                        </td>
                        <td width="50" height="50" >
                        </td>
                    </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td class="frame_top" height="20" colspan="3">
                    <iframe src="{{url_for('entrypoint_control')}}" name="output_frame" id="output_frame" width="100%" >
                    </iframe>
                </td>
            </tr>
        </table>
    </body>
</html>
